/*
  font-family: 'Dosis', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
*/

// COLOURS
$theme-cyan: rgb(0,157,224);
$pure-white: rgb(250, 250, 250);
$pure-grey: rgb(230, 230, 230);
$broken-grey: rgb(210, 210, 210);
$light-grey: rgb(150, 150, 150);
$cloud-grey: rgb(100, 100, 100);
$broken-black: rgb(50, 50, 50);
$pure-black: rgb(0, 0, 0);

// GENERAL SIZES
$size-one-half: 0.5rem;
$size-one: 1rem;
$size-one-plus-half: 1.5rem;
$size-two: 2rem;
$size-two-plus-half: 2.5rem;
$size-three: 3rem;
$size-three-plus-half: 3.5rem;
$size-four: 4rem;
$size-four-plus-half: 4.5rem;
$size-five: 5rem;
$size-five-plus-half: 5.5rem;
$size-six: 6rem;
$size-six-plus-half: 6.5rem;
$size-seven: 7rem;
$size-seven-plus-half: 7.5rem;
$size-eight: 8rem;
$size-eight-plus-half: 8.5rem;
$size-nine: 9rem;
$size-nine-plus-half: 9.5rem;
$size-ten: 10rem;
