/*
  font-family: 'Dosis', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
*/

// COLOURS
$theme-cyan: rgb(0,157,224);
$pure-white: rgb(250, 250, 250);
$broken-black: rgb(50, 50, 50);
$pure-black: rgb(0, 0, 0);

// GENERAL SIZES
$size-one-half: 0.5rem;
$size-one: 1rem;
$size-one-plus-two-tenths: 1.2rem;
$size-one-plus-half: 1.5rem;
$size-two: 2rem;
$size-two-plus-half: 2.5rem;
$size-three: 3rem;
$size-three-plus-half: 3.5rem;
