@import '../../globals/variables';
@import '../../globals/mixins';

.menu__item {
  min-height: $size-ten;
  width: 100%;
  margin: $size-two 0;

  @include default-flex($direction: row, $justify: space-between);
  @include breakpoint-small {
    align-items: flex-start;
    flex-direction: column;
  }

  &_left {
    height: $size-ten;
    position: relative;

    @include default-flex($align: flex-start, $justify: flex-start);

    h2 {
      font-weight: 400;
      font-size: 1.6rem;
    }

    p {
      margin: $size-one 0;
      width: 90%;
      color: $broken-black;
    }

    h4 {
      position: absolute;
      bottom: 0;
      right: 10%;
      color: $theme-cyan;
      font-size: 1.3rem;
    }

    button {
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.8rem;
      padding: 0.3rem $size-one-plus-half;
      min-width: $size-eight;
    }
  }

  &_right {
    background-image: url("../../resources/images/vege.jpg");
    background-size: cover;
    background-position: center;
    min-height: $size-ten;
    height: auto;
    width: $size-ten; 
    border-radius: $size-one-plus-half; 

    @include breakpoint-small {
      width: 100%;
      margin-top: $size-one;
    }
  }
}
