@import '../../globals/variables';
@import '../../globals/mixins';

.page__landing {
  background-image: url("../../resources/images/donutsBlueS.jpg");
  background-size: cover;
  background-position: right center;

  @include breakpoint-medium {
    background-position: unset;
  }
  @include default-flex($align: flex-start);
  @include breakpoint-small {
    align-items: center;
  }


  form {
    position: relative;
    @include default-flex;

    label {
      padding-bottom: $size-one;
      width: 100%;
      font-size: 1.1rem;
    }

    img {
      position: absolute;
      left: $size-one;
      top: $size-three;
      height: 1.4rem;
    }
  }

  * {
    @include breakpoint-small {
      max-width: 16rem;
    }
  }
}