@import '../../globals/variables';
@import '../../globals/mixins';

.page__restaurant {
  position: relative;
  padding: 5rem 0;
  width: 70%;
  max-width: 1400px;
  margin: auto;

  img {
    position: absolute;
    top: 2rem;
    left: 0;
    height: 2rem;
    transform: rotate(7deg);
  }
}