@import '../../globals/variables';
@import '../../globals/mixins';

.page__restaurant {
  position: relative;
  width: 100%;

  &_category_title {
    width: 100%;
    margin: $size-two 0;
    font-weight: 400;
    font-size: 2.2rem;
    padding-bottom: $size-one;
    border-bottom: 1px solid $broken-grey;
  }

  &_hours {
    width: 9rem;

    @include default-flex($justify: space-between, $direction: row);
  }
  
  &_upper {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin-bottom: auto;
    position: relative;

    &_tags {
      position: absolute;
      bottom: $size-two;
      right: $size-two;

      @include default-flex($direction: row);
      @include breakpoint-small {
        right: unset;
        left: 0;
      }

      h4 {
        font-weight: 500;
        font-size: 0.9rem;
        margin-left: $size-one;
        background-color: $theme-cyan;
        padding: 0.3rem $size-one;
        border-radius: 0.3rem;

        @include breakpoint-small {
          margin-left: 0;
          margin-right: $size-one;
        }
      }
    }

    .black__overlay {
      height: 80vh;
      width: 100%;
      background-color: rgba($pure-black, 0.5);
      position: absolute;
      top: 0;
    }

    &_content {
      height: 80vh;
      width: 70%;
      margin: auto;
      position: relative;
      color: $pure-white;
    
      @include default-flex($align: flex-start);
      @include breakpoint-small {
        width: 80%;
      }

      h1 {
        font-size: $size-five;

        @include breakpoint-small {
          font-size: $size-two-plus-half;
          padding: $size-one 0;
        }
      }

      h2 {
        font-weight: 400;
        margin: $size-two 0 $size-one 0;
      }

      h3 {
        position: absolute;
        bottom: $size-two;
        left: 0;

        @include breakpoint-small {
          font-size: $size-one;
          bottom: $size-six;
        }
      }
    }
  }

  &_lower {
    width: 70%;
    height: auto;
    position: relative;

    @include default-flex($direction: row);
    @include breakpoint-small {
      width: 80%;
      flex-direction: column-reverse;
    }

    h3 {
      font-weight: 400;
    }

    &_left {
      width: 70%;
      padding: $size-five 0;

      @include default-flex($justify: flex-start);
      @include breakpoint-small {
        width: 100%;
        padding: $size-one 0;
      }

      h3 {
        margin: $size-two 0;
      }
    }

    &_right {
      width: 30%;
      position: sticky;
      top: 0;
      align-self: flex-start;
      padding: $size-six-plus-half 0 0 $size-five;
      white-space: nowrap;

      @include default-flex($align: flex-start);
      @include breakpoint-small {
        width: 100%;
        position: static;
        padding: $size-three 0 0 0;
      }

      h2 {
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: $size-one-half;
      }

      h3 {
        @include breakpoint-small {
          font-size: $size-one;
          color: $pure-white;
          font-weight: 600;
        }
      }

      img {
        height: $size-two;
        margin-right: $size-one;

        @include breakpoint-small {
          height: 1.3rem;
          margin-right: $size-one-half;
        }
      }

      button {
        margin-top: $size-one;
      }

      .page__restaurant_hours {
        margin-bottom: $size-two;
      }

      &_shop {
        cursor: pointer;

        @include default-flex($direction: row, $justify: flex-start);

        @include breakpoint-small {
          position: fixed;
          top: 0;
          right: 0;
          padding: $size-one;
          background-color: $theme-cyan;
          border-radius: 0 0 0 $size-one-half;
          opacity: 0.9;
        }
      }

      &_categories {
        margin-top: $size-two;

        @include breakpoint-small {
          margin-top: 0;
        }
      }

      &_cart {
        h2 {
          @include breakpoint-small {
            display: none;
          }
        }

        button {
          @include breakpoint-small {
            display: none;
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: $size-two;
    left: 0;
    height: $size-three;
    transform: rotate(7deg);
  }

  ul {
    list-style: none;
  }

  li {
    margin: $size-one 0;
    color: $broken-black;
    padding-bottom: 0.2rem;
    cursor: pointer;
    position: relative;
    font-weight: 400;

    @include default-transition;

    &::before {
      content: "";
      position: absolute;
      background-color: $theme-cyan;
      height: 0.1rem;
      width: 0;
      bottom: 0;
      left: 0;

      @include default-transition($time: 0.2s, $type: ease-in);
    }

    &:hover {
      font-weight: 600;
    }
    
    &:hover::before {
      width: 100%;
    }
  }
}