@import '../../globals/variables';
@import '../../globals/mixins';

.container__restaurants {
  width: 100%;

  @include default-flex;

  &_section_entries {
    grid-gap: 1rem;
    width: 100%;

    @include default-grid($columns: 1fr 1fr 1fr);
    @include breakpoint-medium {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-small {
      grid-template-columns: 1fr;
    }
  }

  &_buttons {
    width: 100%;
    margin-bottom: 1rem;

    @include default-flex($direction: row, $justify: space-between);
    @include breakpoint-medium {
      flex-direction: column;
      align-items: flex-start;
    }
    
    * {
      @include breakpoint-small {
        width: 100%;
        margin-left: 0 !important;
      }
    }

    &_right {
      text-align: right;

      @include breakpoint-medium {
        margin-bottom: 1rem;
        text-align: left;
      }
    }

    button {
      margin: 1rem 0.2rem 0 1rem;
    }

    h2 {
      display: inline-block;
      font-weight: 400;
      min-width: 8rem;

      @include breakpoint-medium {
        font-size: 1.2rem;
      }
    }
  }

  a {
    width: 100%;
    text-decoration: none;
    color: $pure-black;
  }

  .button__all {
    margin-left: 0;
  }
}