@import '../../globals/variables';

.page__results {
  position: relative;
  padding: $size-five 0;
  width: 70%;
  max-width: 1400px;
  margin: auto;

  img {
    position: absolute;
    top: $size-two;
    left: 0;
    height: $size-two;
    transform: rotate(7deg);
  }

  &_title {
    width: 100%;
    font-weight: 400;
    font-size: $size-three;
    margin: $size-two 0;
  }
}
