@import '../../globals/variables';
@import '../../globals/mixins';

.container__search  {
  width: 20rem;
  margin-left: 15%;

  @include default-flex($align: flex-start);

  .button {
    width: 20rem;
    margin: $size-one-half 0;
  }

  .logo {
    width: 21rem;
    transform: rotate(7deg);
  }

  h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: $size-one-plus-half;
    text-align: left;
    margin: 0 0 $size-three;
  }

  p {
    font-size: 1.1rem;
  }
}