@import '../../globals/variables';
@import '../../globals/mixins';

.block__sale {
  width: 100%;
  height: auto;
  margin: $size-two 0 3rem 0;
  border-radius: $size-one-half;
  box-shadow: 1px 1px 10px 1px $pure-grey;
  cursor: pointer;

  @include default-transition;
  @include default-flex($direction: row);
  @include breakpoint-small {
    flex-direction: column;
  }

  &:hover {
    box-shadow: 1px 1px 10px 1px $broken-grey;
  }

  &_left {
    background-image: url("../../resources/images/donutsBlueS.jpg");
    background-size: cover;
    background-position: center;
    width: 60%;
    min-height: 20rem;
    border-radius: $size-one-half 0 0 $size-one-half;

    @include breakpoint-small {
      width: 100%;
      min-height: 15rem;
      border-radius: $size-one-half $size-one-half 0 0;
    }
  }

  &_right {
    width: 40%;
    padding: $size-two;
    text-align: left;
    max-height: 20rem;

    @include default-flex($justify: center);
    @include breakpoint-small {
      width: 100%;
    }

    * {
      width: 100%;
    }

    h1 {
      font-size: 1.8rem;
      color: $theme-cyan;

      @include breakpoint-medium {
        font-size: $size-one-plus-half;
      }
    }

    h1:first-child {
      font-size: $size-two-plus-half;
      font-weight: 400;
      margin-bottom: $size-one;
      color: $pure-black;

      @include breakpoint-medium {
        font-size: $size-two;
      }
    }

    h2 {
      font-weight: 400;

      @include breakpoint-medium {
        font-size: 1.2rem;
      }
    }

    p {
      margin: $size-one 0;
      font-size: 1.2rem;
      
      @include breakpoint-medium {
        font-size: $size-one;
      }
    }
  }
}