@import '../../globals/variables';
@import '../../globals/mixins';

.block__restaurant {
  width: 32%;
  min-width: 22rem;
  height: auto;
  min-height: 25rem;
  box-shadow: 1px 1px 10px 1px rgb(230, 230, 230);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;

  @include default-transition;

  &:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px 1px rgb(220, 220, 220);
  }

  &_image {
    background-size: cover;
    height: 60%;
    min-height: 15rem;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &_text {
    padding: 1rem;
    min-height: 12rem;

    @include default-flex($align: flex-start, $justify: space-between);

    * {
      width: 100%;
    }

    p {
      margin: 0.5rem 0;
      font-style: italic;
      font-size: 1.1rem;
    }

    &_lower {
      div {
        border-top: 1px solid rgb(220, 220, 220);
        color: rgb(100, 100, 100);
        padding-top: 0.2rem;
        
        @include default-flex($direction: row, $justify: space-between);

        * {
          font-weight: 400;
        }

        h4:last-child {
          text-align: right;
        }
      }
    }

    &_upper {
      h1 {
        text-transform: uppercase;
        color: $theme-cyan;
        font-size: 1.5rem;
        text-align: end;
      }
  
      h3 {
        font-weight: 400;
        text-align: end;
      }
    }
  }
}