@import '../../globals/variables';
@import '../../globals/mixins';

.block__restaurant {
  width: 100%;
  height: auto;
  min-height: 25rem;
  box-shadow: 1px 1px 10px 1px $pure-grey;
  border-radius: 0.5rem;
  cursor: pointer;

  @include default-transition;

  &:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 10px 1px $broken-grey;
  }

  &_image {
    background-size: cover;
    height: 60%;
    min-height: 15rem;
    border-radius: $size-one-half $size-one-half 0 0;
  }

  &_text {
    padding: $size-one;
    min-height: 12rem;

    @include default-flex($align: flex-start, $justify: space-between);

    * {
      width: 100%;
    }

    p {
      margin: $size-one-half 0;
      font-size: 1.1rem;
    }

    &_lower {
      div {
        border-top: 1px solid $pure-grey;
        color: $cloud-grey;
        padding-top: 0.2rem;
        
        @include default-flex($direction: row, $justify: space-between);

        * {
          font-weight: 400;
        }

        h4:last-child {
          text-align: right;
        }
      }
    }

    &_upper {
      h1 {
        text-transform: uppercase;
        color: $theme-cyan;
        font-size: $size-one-plus-half;
        text-align: end;
      }
  
      h3 {
        font-weight: 400;
        text-align: end;
      }
    }
  }
}
