@import '../../globals/variables';
@import '../../globals/mixins';

.footer {
  &__wrapper {
    width: 70%;
    height: auto;
    padding: $size-two 0 $size-four 0;
    margin: auto;

    @include default-flex($direction: row, $align: flex-start);
    @include breakpoint-small {
      flex-direction: column;
      align-items: center;
    }
  }

  &__left, &__right {
    width: 100%;
    height: auto;
    padding: $size-one $size-two 0 0;
    
    @include default-flex($justify: flex-start, $align: flex-start);
    @include breakpoint-small {
      align-items: center !important;
      padding: $size-one 0;
    }

    h1, p {
      width: 20rem;

      @include breakpoint-small {
        width: 100%;
      }
    }

    p {
      margin-top: $size-one;
    }
  }

  &__right {
    align-items: flex-start;
  
    &_links {
      width: 20rem;

      @include default-flex($direction: row, $align: flex-start, $justify: flex-start);
      @include breakpoint-small {
        width: 100%;
      }
    }
  } 

  &__contact {
    height: $size-two;
    margin: $size-one $size-one-plus-half $size-two 0;
    cursor: pointer;
  }
}